

<footer class="d-flex align-items-center justify-content-between">
    
    <!-- <img src="/img/mogaLogo.png" alt="logo" class="rounded-circle"> -->
    <p>حقوق النشر &copy; 2025 جميع الحقوق محفوظة لشركة karage </p>
    <div class="contact-social">
        <ul>
            <li><a class="hover-target" href=""><i class="pi pi-facebook"></i></a></li>
            <li><a class="hover-target" href=""><i class="pi  pi-whatsapp"></i></a></li>
            <li><a class="hover-target" href=""><i class="pi  pi-linkedin"></i> </a></li>
        </ul>
    </div>
</footer>