p{
    margin-bottom: 0;
}
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }


.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    color: white;
    display: inline-block;
    margin: 0 10px;
    transition: all 0.4s ease 0s;
    width: 20px;
}

.contact-social ul li a:hover {
    color: #FAB702;
}


 footer {
    padding: 15px 10px;
    background: rgb(28 98 116);
    color: white;
}

footer p {
    text-align: center;
}

footer img {
    width: 30px;
}